@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");



:root {

    /* CORES */
    --cor-primaria: #02aab0;
    --cor-secundaria:#00cdac;

    --cor-branca: #fff;

    --cinza-escuro: #333333;
    --cinza-claro: #d2d2d2;

    /* FONT SIZE */

    --tamanho-padrao-fonte: 1.6rem;
    --tamanho-grande-fonte: 4rem;
    --tamanho-medio-fonte: 2.5rem;
}

* {
    padding: 0;
    margin: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: rgb(227, 235, 233);
    scroll-behavior: smooth;

}

/* CELULARES E TABLETS */
@media (max-width: 450px) {

    header {
        display: flex;
        height: 100vh;
        width: 100vw;
        align-items: center;
        justify-content: center;
        background-color: rgb(227, 235, 233);
        text-align: left;

        /* clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); */
    }

    .tittle h1 {
        font-size: 30px;
        margin-bottom: 0.5rem;
        line-height: 1.3;
        white-space: nowrap;
    }

    .tittle span {
        color: var(--cor-secundaria);

    }

    .tittle h2 {
        font-size: 1.8rem;
        color: var(--cinza-escuro);
        font-weight: 400;
        margin-bottom: 1.5rem;
        white-space: nowrap;
    }


    .saiba-mais {
        text-decoration: none;
        padding: 10px 25px;
        border: 2px solid #00cdac;
        border-radius: 4px;
        color: rgb(0, 200, 180);
        font-weight: bolder;
        transition: all 0.3s ease-in-out;
    }

    .saiba-mais:hover {
        background-color: rgb(0, 200, 180);
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.24);
        color: #ffff;
    }

    .sobre-mim {
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.178);
        background-image: linear-gradient(rgb(94, 179, 170), rgb(0, 121, 94));
        padding: 20px;
        color: #ffff;
    }

    .sobre-mim h2 {
        margin: 40px 0px 40px 0px;
        font-size: 2.2rem;
        text-align: center;
    }

    .sobre-mim img {
        display: block;
        margin: 0 auto;
        width: 250px;
        height: auto;
        border-radius: 4px;
        border: none;
    }

    .sobre-mim p {
        font-family: "Montserrat", sans-serif;
        margin: 40px 0px;
        font-size: 1.2rem;
        text-align: justify;
    }
}